* {
  margin: 0;
  padding: 0;
  background-color: gray;

}

#sceneView {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.canvasContainer {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#noise-preview {
}

#color-preview {
}
